@page
<div class="container">
    <div>    

    </div>
    <div>
        <audio id="alertBoss" src="~/media/siren.mp3"></audio>
    </div>
</div>


@section Scripts
{
    <script src="~/js/blinkScreen.js"></script>
    <script src="~/js/alarmSpawner.js"></script>
    <script src="~/js/signalRConnectionStatus.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/bossSpotted.js"></script>
    <script src="~/js/Alert.js"></script>
}
