@page
<div class="container">
    <!--Client button-->
    <div>
        <a href="/bossspotted" target="_blank" class="btn btn-dark" id="sendButton">Client</a>
    </div>
    <div id="AlarmContainer">
    </div>
</div>
@section Scripts
{
    <script src="~/js/blinkScreen.js"></script>
    <script src="~/js/alarmSpawner.js"></script>
    <script src="~/js/signalRConnectionStatus.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/bossSpotted.js"></script>
}
